{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Об авторе</h1>
        Меня зовут Абросимов Илья. Решил оставить работу в консервативной и инертной атомной отрасли. Выбрал направление бэкенда из-за интереса к устройству различных систем и взаимодействия между ними. Язык Python понравился своей лаконичностью и распространённостью.
        <br>Для развития для hard-skills прочитал Корри Альтхофф – «Сам себе программист», Адитья Бхаргава – Грокаем алгоритмы, сейчас читаю «Чистый код» Роберта Мартина. Книга «Изучаем Python» Марка Лутца – настольная, для soft-skills прочитал: Максима Дорофеева – «Джедайские техники», Джозеф О'Коннор – «Искусство системного мышления». Также слежу за блогом vas3k о выживание в мире технологий и творящимся вокруг киберпанке.<br>
        Люблю путешествовать, проехал на мотоцикле от Карелии до Грузии, от Москвы до Черногории. Для поддержания физической формы бегаю полумарафоны.
    <img src="/static/AbrosimovIR.jpg" alt="Photo" width="225" height="400"/>
    <h2>
    Контакты
    </h2>
        <li><a href="https://github.com/Ilia-Abrosimov">GitHub Ilia-Abrosimov</a></li>
        <li><a href="https://t.me/Ilia_Abrosimov">Telegram @Ilia_Abrosimov</a></li>
        <li>+7 919 037 29 26</li>
{% endblock %}
