{% extends 'base.html' %}
{% block title %}Мои подписки{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for card in page %}
            {% load thumbnail user_filters %}
            <div class="card-user" data-author="{{ card.author.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title">{% if card.author.get_full_name %}{{ card.author.get_full_name }}{% else %} {{card.author}} {% endif %}</h2>
                </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                        {% for recipe in card.author.recipes.all %}
                            {% if forloop.counter < 4 %}
                                <li class="card-user__item">
                                    <div class="recipe">
                                        {% thumbnail recipe.image "72x72" crop="center" upscale=True as im %}
                                        <img src="{{ im.url }}" alt="{{ recipe.name }}" class="recipe__image">
                                        {% endthumbnail %}
                                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if card.author.recipe.count > 3 %}
                            <li class="card-user__item">
                                <a href="{% url 'profile' user_id=card.author.id %}" class="card-user__link link">Еще {{ card.author.recipe.count|subtract:'3' }} рецептов...</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-user__footer">
                    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'includes/paginator.html' with page=page paginator=paginator %}
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}