{% extends 'base.html' %}
{% block title %}
    {% if is_created %}
        Редактирование рецепта
    {% else %}
        Создание рецепта
    {% endif %}
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% load user_filters %}
    <div class="main__header">
        {% if is_created %}
        <h1 class="main__title">Редактирование рецепта</h1>
        {% else %}
        <h1 class="main__title">Создание рецепта</h1>
        {% endif %}
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    {{ form.title|addclass:'form__input' }}
                    {% for error in form.title.errors %}
                    <span class="form__error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                    {% if not is_created %}
                        <div class="tags__item">
                            <input type="checkbox" name="tags" value="breakfast" id="id_tags_0" class="tags__checkbox tags__checkbox_style_orange"
                            {% if 'breakfast' in form.cleaned_data.tags|tags_template %} checked {% endif %}>
                            <label for="id_tags_0" class="tags__label">Завтрак</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="tags" value="lunch" id="id_tags_1" class="tags__checkbox tags__checkbox_style_green"
                            {% if 'lunch' in form.cleaned_data.tags|tags_template %} checked {% endif %}>
                            <label for="id_tags_1" class="tags__label">Обед</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="tags" value="dinner" id="id_tags_2" class="tags__checkbox tags__checkbox_style_purple"
                            {% if 'dinner' in form.cleaned_data.tags|tags_template %} checked {% endif %}>
                            <label for="id_tags_2" class="tags__label">Ужин</label>
                        </div>
                    {% else %}
                            <div class="tags__item">
                            <input type="checkbox" name="tags" value="breakfast" id="id_tags_0" class="tags__checkbox tags__checkbox_style_orange"
                            {% if 'breakfast' in tags|tags_template %} checked {% endif %}>
                            <label for="id_tags_0" class="tags__label">Завтрак</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="tags" value="lunch" id="id_tags_1" class="tags__checkbox tags__checkbox_style_green"
                            {% if 'lunch' in tags|tags_template %} checked {% endif %}>
                            <label for="id_tags_1" class="tags__label">Обед</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="tags" value="dinner" id="id_tags_2" class="tags__checkbox tags__checkbox_style_purple"
                            {% if 'dinner' in tags|tags_template %} checked {% endif %}>
                            <label for="id_tags_2" class="tags__label">Ужин</label>
                        </div>
                    {% endif %}
                    </div>
                    {% for error in form.tags.errors %}
                    <span class="form__error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        {% if not is_created %}
                            {% for ingredient in form.cleaned_data.ingredients %}
                                <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                                    <span>{{ ingredient.title }} {{ ingredient.amount }}{{ ingredient.unit }}.</span>
                                    <span class="form__field-item-delete"></span>
                                    <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient" type="hidden" value="{{ ingredient.title }}">
                                    <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient" type="hidden" value="{{ ingredient.amount }}">
                                    <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient" type="hidden" value="{{ ingredient.unit }}.">
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for ingredient in ingredients %}
                                <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
                                    <span>{{ ingredient.ingredient.title }} {{ ingredient.amount }}{{ ingredient.ingredient.unit }}.</span>
                                    <span class="form__field-item-delete"></span>
                                    <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient" type="hidden" value="{{ ingredient.ingredient.title }}">
                                    <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient" type="hidden" value="{{ ingredient.amount }}">
                                    <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient" type="hidden" value="{{ ingredient.ingredient.unit }}.">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form__field-group-ingredientes-container">
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error">{{ form.ingredients.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.time.id_for_label }}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.time|addclass:'form__input' }}
                    <label for="{{ form.time.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{ form.description|addclass:"form__textarea" }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {{ form.image }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                {% if is_created %}
                    <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe_id=recipe_id %}" class="form__ingredient-link">Удалить</a>
                {% else %}
                    <button class="button button_style_blue">Создать рецепт</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    {% load static %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/formRecipe.js' %}"></script>
{% endblock %}