{% load user_filters %}
<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        {% if paginator.num_pages > 1 %}
            {% if page.has_previous %}
            {% with page=page.previous_page_number %}
                <li class="pagination__item"><a class="pagination__link link" href="?{{ request|url_with_get:page }}"><span class="icon-left"></span></a></li>
            {% endwith %}
            {% else %}
                <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
            {% endif %}
            {% for page_num in paginator.page_range %}
                <li class="pagination__item{% if page.number == page_num %} pagination__item_active{% endif %}"><a class="pagination__link link" href="?{{ request|url_with_get:page_num }}">{{ page_num }}</a></li>
            {% endfor %}
            {% if page.has_next %}
            {% with page=page.next_page_number %}
                <li class="pagination__item"><a class="pagination__link link" href="?{{ request|url_with_get:page }}"><span class="icon-right"></span></a></li>
            {% endwith %}
            {% else %}
                <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
            {% endif %}
        {% endif %}
    </ul>
</nav>