{% extends "base.html" %}
{% block title %}Войти на сайт{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>
<div class="form-container">
    <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|addclass:'form__input' }}
                        {% if field.name == 'password' and form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <span class="form__error">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Войти</button>
                <a class="form__forgot-link" href="{% url 'password_reset' %}">Забыли пароль?</a>
            </div>
    </form>
</div>
{% endblock %}
