{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    {% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|addclass:'form__input' }}
                        <span class="form__error">{{ field.error }}</span>
                        {{ field.help_text }}
                    </div>
                </div>
            {% endfor %}
            <div class="form__footer">
                <button class="button button_style_blue">Изменить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}