<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Title{% endblock %}</title>
        {% load static %}
        {% block styles %}
        {% endblock %}
    </head>
    <body class="body">
        {% csrf_token %}
        {% include 'includes/nav.html' %}
        <main class="main container">
            {% block content %}
            {% endblock content %}
        </main>
        {% include 'includes/footer.html' %}
        <script src="{% static 'js/config/config.js' %}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>