{% extends 'base.html' %}
{% block title %}Рецепты{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Рецепты</h1>
        {% include 'includes/tags.html' %}
    </div>
    <div class="card-list">
        {% for card in page %}
            {% include 'recipes/recipe_cards.html' with card=card %}
        {% endfor %}
    </div>
    {% include 'includes/paginator.html' with page=page paginator=paginator %}
{% endblock %}

{% block javascript %}
    {% load static %}
        <script src="{% static 'js/components/MainCards.js' %}"></script>
        <script src="{% static 'js/components/Purchases.js' %}"></script>
        <script src="{% static 'js/components/Favorites.js' %}"></script>
        <script src="{% static 'js/components/CardList.js' %}"></script>
        <script src="{% static 'js/components/Header.js' %}"></script>
        <script src="{% static 'js/api/Api.js' %}"></script>
        <script src="{% static 'js/indexAuth.js' %}"></script>
{% endblock %}